@charset "utf-8";

/*
    Text Stylesheet for the final project of IS 218
    Author: Peter Gilbert
    Date: 01/29/2025

    Filename: theStylesheet.css

*/

@media only screen and (min-width:0px) and (max-width:975px){
    header {
        display: block !important;
    }
    .grid-container{
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .sidebar {
        display: none;
    }


    html {
        padding-left: 0px !important;
    }
}

@media only screen and (min-width:976px) and (max-width:1330px){
    header {
        display: block !important;
    }
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
    .sidebar {
        display: none;
    }

    html {
        padding-left: 0px !important;
    }
}
