@charset "utf-8";

body {
    min-height: 100vh;
}
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    transition: .3s;
    scrollbar-width: none;
    overflow: hidden scroll;
    background: #304D6D;
    -ms-overflow-style: none;
    padding: 20px 20px 20px 0;
    backdrop-filter: blur(5px);
    box-shadow: 8px 0px 9px 0px #545e75;
}

.sidebar ul {
    display: block;
}

.sidebar:hover {
    width: 260px;
}

.sidebar:hover li span:nth-child(2) {
    display: block;
}

.sidebar-content li {
    display: flex;
    white-space: nowrap;
    justify-content:flex-start;
    align-content:center;
    list-style: none;
    transition: .2s;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar-content li span:nth-child(2) {
    display: none;
}

a {
    display: flex;
    align-items: center;
}

.symbols-outlined {
    width: auto;
    max-width:70px;
    height: 65px;
    padding: 10px 0px;
    font-size: 25px;
    margin-right: 10px;
}

.sidebar-content li:hover,header li:hover {
    border-radius: 10px;
    background: #545e75;
}

.one:hover img{
    content: url(houseIconHover.png);
}

.two:hover img {
    content: url(aboutIconHover.png);
}

.three:hover img {
    content: url(foodIconHover.png);
}

.sidebar a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: -1px -1px 0 #304D6D,
                 -1px 1px 0 #304D6D,
                 1px 1px 0 #304D6D,
                 1px -1px 0 #304D6D;
}